name: Example HFM

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install libsndfile1-dev
      run: sudo apt install libsndfile1-dev
    - name: make
      working-directory: ./Examples/HFM/
      run: make

